/* Always take full height */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Use the same font everywhere */
body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: theme('colors.base-100'); /* Tailwind base */
  color: theme('colors.base-content');
}
@import "tailwindcss";
@plugin "daisyui" {
  themes: "light",
      "dark",
      "cupcake",
      "bumblebee",
      "emerald",
      "corporate",
      "synthwave",
      "retro",
      "cyberpunk",
      "valentine",
      "halloween",
      "garden",
      "forest",
      "aqua",
      "lofi",
      "pastel",
      "fantasy",
      "wireframe",
      "black",
      "luxury",
      "dracula",
      "cmyk",
      "autumn",
      "business",
      "acid",
      "lemonade",
      "night",
      "coffee",
      "winter",
      "dim",
      "nord",
      "sunset";
}